/*  Base style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "Open Sans", sans-serif;
    background: #fff;
    color: #222;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
        width: 100%;

    
}

h1, h2, h3 {
    margin: 1rem 0;
    font-weight: 700;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}


:root {
    --gold: #c78c06;
    --light-gold: #ffe6ac;
    --dark: #222;
    --white: #fff;
}

/* Top gold bar */
.top-bar {
    background: var(--gold);
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.top-bar .logo {
    width: 90px;
}

.home-link {
    color: var(--white);
    background: var(--gold);
    font-weight: 700;
    font-size: 1.4rem;
    
}



/* Header (Mobile first) */

.site-header {
    background-color: var(--dark);
    padding: 1.5rem 1rem;

}

.main-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

.main-nav a {
    color: var(--gold);
    font-size: 1.2rem;
}

.main-nav ul li.active {
    background: var(--gold);
    color:#222;
    margin-top: -3px;
    padding: 5px;
    
}
.main-nav ul li.active a {
    color:#222;
    
}
.map iframe {
    width: 100%;
    max-width: 100%;
    height: 300px;
}


/* search bar */
.search-bar {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    height: 35px;
    

}

.search-bar input {
    flex: 1;
    padding: 1rem;
    border: none;
    font-size: 1.1rem;
    height: 35px;
 
}

.search-bar button {

background-color: #222;
border: 1px;
border-color:var(--gold);
border-style: solid;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;

}
.searchicon {
    height: 70%;
  
}


/* Hero */

.hero {
    position: relative;

}

.hero-image {
    width: 100%;

}

.hero-content {
    position: absolute;
    bottom: 20px;
    left: 0px;
    background: rgba(0,0,0,0.6);
    padding: -1.5rem;
    color: var(--white);
    max-width: 100%;

}

.hero-content h1, p {
   padding-left: 10px;
   padding-top: 10px;


}

.hero-button {
    background: var(--gold);
    padding: 0.8rem 1rem;
    display: inline-block;
    margin-top: 1rem;
    color: var(--dark);
    font-weight: 700;
}

/* About Us */

.about-container {
    padding: 2rem 1rem;
    background: var(--light-gold);
}

.about-text {
    background: var(--light-gold);
    padding: 1rem;
    margin-top: 2rem;
}

/* Services */

.services {
    padding: 2rem 1rem;
}

.services-grid {
    display: grid;            
    gap: 1.5rem;
}

.service-card {
    background: var(--light-gold);
    padding: 0rem;
}
.service-card img {
    width: 100%;
}

.service-card h3,
.service-card p {
    padding: 0rem 1rem;
}

.service-card button{
    background-color: #222;
    padding: 1.5rem;
    margin: 1rem;
    color: #fff;
    height: auto;
}

/* Vision */

.vision {
    position: relative;
    margin-top: 2rem;
}

.vision-content {
   position: absolute;
    top: 10%;
    left: 5%;
    background: rgba(0,0,0,0.55);
    padding: 1.5rem;
    color: var(--white);
}

/* Team */

.team {
    padding: 2rem 1rem;
}

.team-card {
    background: var(--light-gold);
    margin-bottom: 1.5rem;
    padding: 0;
}

.team-card img {
    margin-bottom: 0;
    max-width: 100%;
    width: 100%;
}

.team-info {
    padding: 1rem;
}

p.role{
    border-bottom: 2px var(--gold) solid;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Contact */

.contact {
    padding: 2rem 1rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form input,
.contact-form textarea {

    padding: 0.8rem;
    border: 1px solid #ccc;

}

.contact-form button {
    background: var(--light-gold);
    color: var(--dark);
    font-weight: 700;
    padding: 1rem;
    border: none;

}

/* Hours / Table */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table th {
    background: var(--light-gold);
    padding: 0.8rem;
    text-align: left;
}

table td {
    border: 1px solid #ccc;
    padding: 0.8rem;

}

/* Footer */

.site-footer {
    background: var(--dark);
    color: var(--gold);
    padding: 2rem 1rem;
    text-align: left;
    font-weight: 200;
    font-size: small;
}


/* Desktop Media Queries */

@media (min-width: 760px) {

    .main-nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .search-bar {
        justify-content: center;
    }

    .services-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .team-grid {
        display: flex;
        gap: 2rem;
    }

    .hero-content {
        max-width: 40%;
        bottom: 40px;
        left: 40px;
    }
.top-bar {
    background: var(--gold);
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.contact h2 {
    grid-column: 1 / 3;
}

.sendmessage {
    grid-column: 1;
    grid-row: 2 / 4;
}

.contact-form button {
        width: 150px;
    }

.locations {
    grid-column: 2;
    grid-row: 2;
}

.hours {
    grid-column: 1 / 3;  
    grid-row: 4;
}
}
